<header class="bg-blue-500 py-4">
    <div class="container mx-auto px-4">
        <!-- Aquí puedes agregar el contenido del encabezado -->
        <h1 class="text-white text-2xl font-bold">Mi Aplicación de Libros</h1>
        <nav class="mt-4">
            <!-- Agrega enlaces de navegación u otros elementos del encabezado -->
            <a routerLink="/books" class="text-white px-4">Libros</a>
            <a routerLink="/about" class="text-white px-4">Acerca de</a>
            <a routerLink="/add-book" class="text-white px-4">Agregar libro</a>
        </nav>
    </div>
</header>